{% extends 'base.html.twig' %}

{% block body %}
    <h1>Fournisseurs list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nomfournisseur</th>
                <th>Adresse</th>
                <th>Ville</th>
                <th>Codetva</th>
                <th>Tel</th>
                <th>Tel2</th>
                <th>Tel1</th>
                <th>Fax</th>
                <th>Contact</th>
                <th>Gsm</th>
                <th>Contact1</th>
                <th>Gsm1</th>
                <th>Gsm2</th>
                <th>Contact2</th>
                <th>Contact3</th>
                <th>Gsm3</th>
                <th>Echange</th>
                <th>Modereg</th>
                <th>Mail</th>
                <th>Postal</th>
                <th>Frs</th>
                <th>Famille</th>
                <th>Remise</th>
                <th>Solde</th>
                <th>Timbre</th>
                <th>Idfam</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fournisseur in fournisseurs %}
            <tr>
                <td><a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">{{ fournisseur.id }}</a></td>
                <td>{{ fournisseur.nomFournisseur }}</td>
                <td>{{ fournisseur.adresse }}</td>
                <td>{{ fournisseur.ville }}</td>
                <td>{{ fournisseur.codeTva }}</td>
                <td>{{ fournisseur.tel }}</td>
                <td>{{ fournisseur.tel2 }}</td>
                <td>{{ fournisseur.tel1 }}</td>
                <td>{{ fournisseur.fax }}</td>
                <td>{{ fournisseur.contact }}</td>
                <td>{{ fournisseur.gsm }}</td>
                <td>{{ fournisseur.contact1 }}</td>
                <td>{{ fournisseur.gsm1 }}</td>
                <td>{{ fournisseur.gsm2 }}</td>
                <td>{{ fournisseur.contact2 }}</td>
                <td>{{ fournisseur.contact3 }}</td>
                <td>{{ fournisseur.gsm3 }}</td>
                <td>{{ fournisseur.echange }}</td>
                <td>{{ fournisseur.modereg }}</td>
                <td>{{ fournisseur.mail }}</td>
                <td>{{ fournisseur.postal }}</td>
                <td>{{ fournisseur.frs }}</td>
                <td>{{ fournisseur.famille }}</td>
                <td>{{ fournisseur.remise }}</td>
                <td>{{ fournisseur.solde }}</td>
                <td>{{ fournisseur.timbre }}</td>
                <td>{{ fournisseur.idfam }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('fournisseur_show', { 'id': fournisseur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('fournisseur_edit', { 'id': fournisseur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('fournisseur_new') }}">Create a new fournisseur</a>
        </li>
    </ul>
{% endblock %}
