{% extends 'base2.html.twig' %}

{% block title %}
	{{ parent() }} 
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title_tab %}
	<!-- Breadcrumbs -->
	<ol class="breadcrumb">

	   <li class="breadcrumb-item">
			<h5><span class="fa fa-truck"></span> &nbsp;Mes Articles</h5>
	   </li>
	   <li>
			<a class="flr" href="{{ path('article_new') }}">
				<button type="button" class="btn btn-success btn-sm">Ajouter un article</button> </a>
		</li>
	</ol>
{% endblock %}

{% block body %}

	<div class="container">
		<table class="table table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th>Reference</th>
					<th>Libelle</th>
					<th>familleArticle</th>
					<th>Prixa</th>
					<th>Stock</th>
					<th>Stockmin</th>
					<th>stockMax</th>
					<th>Fournisseur</th>

					<th>Valeur Stock </th>
					<!-- <th>Actions</th> -->
				</tr>
			</thead>
			<tbody>
			{% for article in articles %}
				<tr class="tr_article_tab" data-href="{{ path('article_show', { 'reference': article.reference }) }}">
					<td>{{ article.reference }}</td>
					<td>{{ article.libelle }}</td>
					<td>{{ article.familleArticle.nomFamille }}</td>
					<td>{{ article.prixA }}</td>
					<td>{{ article.stock }}</td>
					<td>{{ article.stockMin }}</td>
					<td>{{ article.stockMax }}</td>
					<td>{{ article.fournisseur.nomFournisseur }}</td>
					<td>{{ article.prixA * article.stock }} </td>
					
	<!--                 <td>
						<ul>
							<li>
								<a href="{{ path('article_show', { 'reference': article.reference }) }}">show</a>
							</li>
							<li>
								<a href="{{ path('article_edit', { 'reference': article.reference }) }}">edit</a>
							</li>
						</ul>
					</td> -->
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
		<script>		
			$(document).ready(function(){
				$('#articles_item').addClass("active");					

				$(".tr_article_tab").click(function() {
					window.location = $(this).data("href");
			});
		});
	</script>
{% endblock %}	
