{% extends 'base2.html.twig' %}

{% block title %}
	{{ parent() }} 
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title_tab %}
	<ol class="breadcrumb">
	   <!-- <li class="breadcrumb-item"> -->
			   <!-- <a href="#">Dashboard</a> -->
	   <!-- </li> -->
	   <h5>
			<li class="breadcrumb-item">
				<span class="fa fa-folder"></span> &nbsp;Mes Articles
			</li>	
			<li class="breadcrumb-item active">Ajouter un article			
				
		   </li>
	   </h5>
	</ol>
{% endblock %}

{% block body %}
{% form_theme form 'form_table_layout_fournisseur.html.twig' %}
<div class="container">
	<div class="col-4">
    {{ form_start(form) }}
        {{ form_widget(form) }}

			<input style="margin-left:85px;margin-top:7px" class="btn-xs btn-primary col-5" type="submit" value="Create" />
<!-- 		<a href="{{ path('article_index') }}">Back to the list</a> -->
    {{ form_end(form) }}

	</div>
</div>	
<br>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
	<script>
		$(document).ready(function(){

			$('#articles_item').addClass("active");
			
			synchronise_disabled_inputs();
			
		});
		
		function synchronise_disabled_inputs(){
			$('#homebundle_article_marge1').on('input', function() {
				prix_det_1 = $('#homebundle_article_prixA').val()*$('#homebundle_article_marge1').val();
				$('#homebundle_article_prixDetail1').val(prix_det_1);
			});	
			$('#homebundle_article_marge2').on('input', function() {
				prix_det_2 = $('#homebundle_article_prixA').val()*$('#homebundle_article_marge2').val();
				$('#homebundle_article_prixDetail2').val(prix_det_2);
			});	
			$('#homebundle_article_marge3').on('input', function() {
				prix_gros = $('#homebundle_article_prixA').val()*$('#homebundle_article_marge3').val();					
				$('#homebundle_article_prixGros').val(prix_gros);
			});				
		}
	</script>
{% endblock %}