{% extends 'base2.html.twig' %}
{% trans_default_domain 'FOSUserBundle' %}

{% block title %}
	{{ parent() }} 
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block title_tab %}
	<!-- Breadcrumbs -->
	<ol class="breadcrumb">
	  <!-- <li class="breadcrumb-item"> -->
		<!-- <a href="#">Dashboard</a> -->
	  <!-- </li> -->
	  <li class="breadcrumb-item active">Mes Fournisseurs</li>
	</ol>
{% endblock %}
 
{% block body %}
	<center>	<h3 style="color:blue"> LIST FOURNISSEUR </h3> </center>
	<div class="card mb-3">
		<div class="card-header">
			<i class="fa fa-table"></i> Fournisseurs
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<div id="dataTable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4">
					<div class="row">
						<div class="col-sm-12">
							<table class="table table-bordered dataTable" id="dataTable" role="grid" aria-describedby="dataTable_info" style="width: 100%;" width="100%" cellspacing="0">
								<thead>
									<tr role="row">
										<th class="sorting_desc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 153px;" aria-label="Name: activate to sort column ascending" aria-sort="descending">Fournisseur</th>
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 237px;" aria-label="Position: activate to sort column ascending">Adresse</th>
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 110px;" aria-label="Office: activate to sort column ascending">Ville</th>
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 50px;" aria-label="Age: activate to sort column ascending">Age</th>
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 106px;" aria-label="Start date: activate to sort column ascending">Start date</th>
										<th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" style="width: 88px;" aria-label="Salary: activate to sort column ascending">Salary</th>
									</tr>
								</thead>
								<tfoot>
									<tr>
										<th rowspan="1" colspan="1">Fournisseur</th>
										<th rowspan="1" colspan="1">Adresse</th>
										<th rowspan="1" colspan="1">Ville</th>
										<th rowspan="1" colspan="1">Age</th>
										<th rowspan="1" colspan="1">Start date</th>
										<th rowspan="1" colspan="1">Salary</th>
									</tr>
								</tfoot>
								<tbody>
									
									{% for fournisseur in fournisseurs %}
										<tr role="row" class="{% if loop.index is odd %} odd {% else %} even {% endif%}">
											<td class="sorting_1">{{fournisseur.nomFournisseur}}</td>
											<td class="">{{fournisseur.adresse}}</td>
											<td class="">{{fournisseur.ville}}</td>
											<td class="">10</td>
											<td>2010/03/11</td>
											<td class="">$850,000</td>
										</tr>	
									{% endfor %}
									<!-- <tr role="row" class="odd"> -->
										<!-- <td class="sorting_1">Fiona Green</td> -->
										<!-- <td class="">Chief Operating Officer (COO)</td> -->
										<!-- <td class="">San Francisco</td> -->
										<!-- <td class="">48</td> -->
										<!-- <td>2010/03/11</td> -->
										<!-- <td class="">$850,000</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="even"> -->
										<!-- <td class="sorting_1">Finn Camacho</td> -->
										<!-- <td class="">Support Engineer</td> -->
										<!-- <td class="">San Francisco</td> -->
										<!-- <td class="">47</td> -->
										<!-- <td>2009/07/07</td> -->
										<!-- <td class="">$87,500</td> -->
									<!-- </tr> -->
								
									<!-- <tr role="row" class="odd"> -->
										<!-- <td class="sorting_1">Fiona Green</td> -->
										<!-- <td class="">Chief Operating Officer (COO)</td> -->
										<!-- <td class="">San Francisco</td> -->
										<!-- <td class="">48</td> -->
										<!-- <td>2010/03/11</td> -->
										<!-- <td class="">$850,000</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="even"> -->
										<!-- <td class="sorting_1">Finn Camacho</td> -->
										<!-- <td class="">Support Engineer</td> -->
										<!-- <td class="">San Francisco</td> -->
										<!-- <td class="">47</td> -->
										<!-- <td>2009/07/07</td> -->
										<!-- <td class="">$87,500</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="odd"> -->
										<!-- <td class="sorting_1">Doris Wilder</td> -->
										<!-- <td class="">Sales Assistant</td> -->
										<!-- <td class="">Sidney</td> -->
										<!-- <td class="">23</td> -->
										<!-- <td>2010/09/20</td> -->
										<!-- <td class="">$85,600</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="even"> -->
										<!-- <td class="sorting_1">Donna Snider</td> -->
										<!-- <td class="">Customer Support</td> -->
										<!-- <td class="">New York</td> -->
										<!-- <td class="">27</td> -->
										<!-- <td>2011/01/25</td> -->
										<!-- <td class="">$112,000</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="odd"> -->
										<!-- <td class="sorting_1">Dai Rios</td> -->
										<!-- <td class="">Personnel Lead</td> -->
										<!-- <td class="">Edinburgh</td> -->
										<!-- <td class="">35</td> -->
										<!-- <td>2012/09/26</td> -->
										<!-- <td class="">$217,500</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="even"> -->
										<!-- <td class="sorting_1">Colleen Hurst</td> -->
										<!-- <td class="">Javascript Developer</td> -->
										<!-- <td class="">San Francisco</td> -->
										<!-- <td class="">39</td> -->
										<!-- <td>2009/09/15</td> -->
										<!-- <td class="">$205,500</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="odd"> -->
										<!-- <td class="sorting_1">Charde Marshall</td> -->
										<!-- <td class="">Regional Director</td> -->
										<!-- <td class="">San Francisco</td> -->
										<!-- <td class="">36</td> -->
										<!-- <td>2008/10/16</td> -->
										<!-- <td class="">$470,600</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="even"> -->
										<!-- <td class="sorting_1">Cedric Kelly</td> -->
										<!-- <td class="">Senior Javascript Developer</td> -->
										<!-- <td class="">Edinburgh</td> -->
										<!-- <td class="">22</td> -->
										<!-- <td>2012/03/29</td> -->
										<!-- <td class="">$433,060</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="odd"> -->
										<!-- <td class="sorting_1">Cara Stevens</td> -->
										<!-- <td class="">Sales Assistant</td> -->
										<!-- <td class="">New York</td> -->
										<!-- <td class="">46</td> -->
										<!-- <td>2011/12/06</td> -->
										<!-- <td class="">$145,600</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="even"> -->
										<!-- <td class="sorting_1">Caesar Vance</td> -->
										<!-- <td class="">Pre-Sales Support</td> -->
										<!-- <td class="">New York</td> -->
										<!-- <td class="">21</td> -->
										<!-- <td>2011/12/12</td> -->
										<!-- <td class="">$106,450</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="odd"> -->
										<!-- <td class="sorting_1">Cara Stevens</td> -->
										<!-- <td class="">Sales Assistant</td> -->
										<!-- <td class="">New York</td> -->
										<!-- <td class="">46</td> -->
										<!-- <td>2011/12/06</td> -->
										<!-- <td class="">$145,600</td> -->
									<!-- </tr> -->
									<!-- <tr role="row" class="even"> -->
										<!-- <td class="sorting_1">Caesar Vance</td> -->
										<!-- <td class="">Pre-Sales Support</td> -->
										<!-- <td class="">New York</td> -->
										<!-- <td class="">21</td> -->
										<!-- <td>2011/12/12</td> -->
										<!-- <td class="">$106,450</td> -->
									<!-- </tr>									 -->
								</tbody>
							</table>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="card-footer small text-muted">
			Updated yesterday at 11:59 PM
		</div>
	</div>
{% endblock %}